<!-- <app-test></app-test> -->

<!------------------------------------------- Cour ------------------------------------------->

<!-- <h2>One Way Data-Binding </h2> -->
<!-- {{title}}  -->
<!--Interpolation : to show data so you declare the varuable in app.comonent.ts => part of One Way Binding -->
<!-- <br> -->
<!-- <button (click)="test('aaaa')">test</button> -->
<!--Eventbinding you declare the function in app.component => part of One Way Binding-->
<!-- <div>
  <input value="val1"> <br> -->
  <!-- <input [value]="val1"> <br> -->
  <!--Proberty Binding you declare the value in app.component => part of One Way Binding-->
<!-- </div> -->
<!-- <div>
  <h2>Two Way Data-Binding </h2> -->
  <!-- <input value="" (keyup)="getVal(x1.value)" #x1>{{chaine1}} {{x1}} -->
  <!-- <input [value]="chaine1" (keyup)="getVal(x1.value)" #x1> {{chaine1}} {{x1}}
</div> -->
<!-- <div>
  <h2>Two Way Data-Binding with ngModel</h2>
  <input [(ngModel)] ="chaine2"> {{chaine2}} {{x1}}
</div> -->

<!------------------------------------------- Cour ------------------------------------------->

<div class="container">
  <div class="container" id="body">
    <!---start navbar--->
      <app-header></app-header>
    <!---end navbar--->
    <!---start slide--->
      <!-- <app-slider> </app-slider> -->
    <!---end slide--->
    <!---start accountList section--->
      <!-- <app-accounts/> -->
      <!-- <app-list-user/> -->
    <!---end accountList section--->
  <router-outlet></router-outlet>
  <!-----Footer Section------>
    <app-footer> </app-footer>
  <!-----End Footer Section------>
    </div>
</div>


