<h1>Template driven form</h1>
<input required type="text" [(ngModel)]="first" value="test" #x="ngModel" > <br>
<!-- x variable de reference de template /refere d'une balise /ts mayrahich / x.touched won't work if we don't add to it
#x="ngModel / #x won't work // lazim tzid ngModel fih input + tzidha fih #x m3aha or tjik errors
touched tasl7 lil errors bich na3milhom display
-->
<!-- {{ x.value }}
{{ x.type }} -->
touched / untouched : {{  x.touched  }} / {{  x.untouched  }}
<br>
dirty / pristine : {{x.dirty}} / {{x.pristine}}
<br>
valid / invalid : {{x.valid}} / {{x.invalid}}

<div class="ng-invalid" *ngIf="x.touched && x.invalid">
    Champ obligatoire
</div>
<form #f="ngForm" (submit)="addUser()">
    <div ngModelGroup="groupe1" #gpe1="ngModelGroup">
    FirstName:
    <input (keyup)="test(firstname.errors)" name="firstname" type="text" [(ngModel)]="user.firstName" #firstname="ngModel" required minlength="6" pattern="[a-zA-Z]*"> <br>
<div *ngIf="firstname.invalid">
<div *ngIf="firstname.errors['required']">
    Champ obligatoire
</div>
<div *ngIf="firstname.errors['minlength']">
min {{firstname.errors['minlength']['requiredLength']}} caractères
alors que vous avez écrit
{{ firstname.errors['minlength']['actualLength'] }}
</div>
<div *ngIf="firstname.errors['pattern']">
    ne contient que des lettres
</div>
</div>
    <br>
LastName:
    <input name="lastname" type="text" [(ngModel)]="user.lastName" #lastname="ngModel" required minlength="3" pattern="[a-zA-Z]*"> <br>
<br>

Birthdate:
    <input name="birthdate" type="text" [(ngModel)]="user.birthDate"> <br>
<br>
Email:
    <input name="email" type="email" [(ngModel)]="user.email" #email="ngModel" required pattern="^[a-zA-Z0-9._-]+@gmail.com"> <br>
<div *ngIf="email.invalid">
    il faut avoir un compte gmail
</div>
    <br>
Password:
    <input name="password" type="password" [(ngModel)]="user.password" #pwd="ngModel" pattern="^[a-zA-Z0-9]{8,}?"> <br>
<br>
</div>
<div *ngIf="gpe1.valid">
Profession:
    <input name="profession" type="text" [(ngModel)]="user.profession" > <br>
<br>
Category:
    <input disabled name="category" type="text" [(ngModel)]="user.accountCategory" #cat="ngModel" required> <br>
<br>

</div>

<button  [disabled]="f.invalid">Save</button>
</form>

<!-------------------------------------------------------------Cour--------------------------------------------------------------->
<!-- zid thabit fih git -->
<!-- Approche Template driven  Form :
  lkolhom FormaModyle
      -ngModel :
              [(Two way data binding)] / serveille l'etat de champ auquel elle est associe
              etat : valide/invalide/errors => validateur
                  : touched/untouched /dirty /pristine => action driven
              attache des classes css en fct de l'état
      -ngForm :
              ngModel y9ol lil ngForm kin fama 7aja kima champ mahouch valide / 3asis
      -ngModelGroup : kima ngForm but kin 3la group mo3ayin saghroun / rodbalik fih fazit ngIf win t7ot condition
      pattern maykhdim kin matiktib 7aja kin maktibch 7aja b  nisba lih valide ama y9arin w mayt3ada kin matiktib kin ki tzid required

      ngModel ta3mil fih objet min classe FormControle


      ng g c user/components/addUser-reactive --module=user
-->
